---
import BaseLayout from "../layouts/BaseLayout.astro"
import Section from "../components/Section.astro";
import Cards from "../components/Cards.astro";
import NewFeature from "../components/NewFeature.astro"
import { getApodData } from "../scripts/PictureOfTheDay.js"	

const pageTitle = "Arrecife"
const apodData = await getApodData()
---
<BaseLayout pageTitle={pageTitle}>
	<h1 class="
		text-4xl sm:text-7xl text-center 
		font-splineSans-bold font-bold
		my-10
		">
			Herramientas a<br>
			un clic <span class="text-purple-300">(o varios)</span>
  </h1>
	<div>
		<Section sectionTitle="Explora nuestras categorías" mx="mr-0">
			<Cards />
		</Section>
		<NewFeature />
		<Section sectionTitle="La foto del día">
			<a href={apodData.hdurl} target="_blank" class="relative">
				<img id="pictureDay" src={apodData.url} alt="Mírate! Tú eres la foto del día" class="
					w-full sm:h-screen object-cover
					rounded-[38px] shadow-lg shadow-indigo-950
				">
				<div id="description" 
				  class="text-gray-300 text-sm ml-6 absolute bottom-6 hidden sm:inline-block p-2 rounded-lg bg-cold-500/50 overflow-hidden w-80 truncate">
					  {apodData.explanation}
				</div>
			</a>
			<a id="title" href="./space/picture-of-the-day/" 
			  class="text-end text-lg right-8 mt-4 pr-8 underline hover:text-cold-400 hover:duration-300">
				  {apodData.title} - {apodData.rateLimitRemaining}
			</a>
		</Section>
	</div>
	<!-- <script>
		const today = new Date();
    const year = today.getFullYear();
    const month = String(today.getMonth() + 1).padStart(2, '0');
    const day = String(today.getDate()).padStart(2, '0');
    const currentDate = `${year}-${month}-${day}`;
		
		const img = document.querySelector('#pictureDay')
		const parent = img.parentNode
		const a = document.querySelector('#title')
		const desc = document.querySelector('#description')

    const apodData_ = {
      "date" : currentDate,
      "url" : img.src,
      "hdurl" : parent.href,
      "title" : a.innerText,
			"explanation" : desc.innerText
    }

		localStorage.setItem('apodData', JSON.stringify(apodData_))
	</script> -->
</BaseLayout>
