---
import Card from "./Card.astro";
import { getTools } from "../scripts/tools.mts"
const myCards = getTools()
---
<div class="grid gap-4 grid-flow-col overflow-x-scroll sm:grid-cols-3 sm:grid-flow-row sm:overflow-auto sm:pb-2">
  {
    myCards.map((card) =>
      <Card 
      title={card.title}
      description={card.description}
      url={card.url}
      image={card.image}
      firstColor={card.firstColor}
      secondColor={card.secondColor}
      />
    )
  }
</div>
